# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.vs/
# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs
/Event Ma.910489E8/x64/Debug
/Event Management System.sln
/Event Management System.vcxproj
/Event Management System.vcxproj.filters
/Event Management System.vcxproj.user
